*.dsk
*.~dsk
*.dcu
__history
__recovery
*.identcache
*.stat
*.dproj.local
*.groupproj
*.groupproj.local
*.spider
*.exe
Images/Bugs/*.png
Images/Bugs/BVHBug_200rpp_2.jpg
Images/Bugs/BVHBug_200rpp_3.jpg
Images/Bugs/BVHBug_600rpp_4.jpg
Images/Bugs/SinglePrecisionBug_1.jpg
Images/Renders/IsItCorrectFrensel_400rpp.png
Images/Renders/RandomSpheres_400rpp.jpg
Images/Renders/RandomSpheres_400rpp.png
Images/Renders/RandomSpheres_1000rpp_2.png
Images/Renders/RandomSpheres_500rpp.jpg
Images/Renders/RandomSpheres_500rpp.png
Images/Renders/RandomSpheres_500rpp_1.png
Images/Renders/IsItCorrectFrensel_400rpp.jpg
Images/Renders/IsItCorrectFrensel.png
Images/Renders/IsItCorrectFrensel.jpg
Images/Renders/IsItCorrectFrensel_1500rpp.png
Images/Renders/ApertureCamera_500rpp.png
Delphi/Win32/
Delphi/Win64/